<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6 col-xs-12 text-center">
      <div class="logo-div tossing">
        <%= image_tag 'bicycle1600.png', id:'logo-pic' %>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="text-box">
        <h1>You'll Go Far.</h1>
        <div class="company-title">
          <h2>BBBikes </h2> <h6>Better Bike Sharing</h6>
        </div>
        <div class="row padder">
          <div class="search">
            <%= simple_form_for :search, url: bikes_path, method: 'get',  html: {class: 'form-inline materialInlineForm', id: "searchForm"} do |f| %>
            <div class="col-md-4 col-xs-12">
              <div class="form-wrap">
                <%= f.input :bike_kind, collection: @bike_kinds, placeholder: 'Type', label: false, input_html: { class: 'input-field' }, prompt: 'Type' %>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="form-wrap">
                <%= f.input :height_range, collection: @height_ranges, placeholder: 'Height Range', input_html: { class: 'input-field' }, label: false, prompt: 'Height Range' %>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-12 main-search-btn">
            <div class="form-submit">
              <%= button_tag(type: 'submit', class: "btn btn-primary btn-search") do %>
                <i class="fa fa-search" aria-hidden="true"></i> Search
              <% end %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bg-features">
  <div class="container">
    <div class="row">
     <div class="col-md-4 col-xs-12 text-center">
      <div class="feature-review">
        <%= image_tag 'find.png', id:'icon' %>
        <br>
        <h3>Find</h3>
        <p>Search your neighborhood for available bikes to rent.</p>
      </div>

     </div>
     <div class="col-md-4 col-xs-12 text-center">
      <div class="feature-review">
        <%= image_tag 'money.png', id:'icon' %>
        <br>
        <h3>Rent</h3>
        <p>Easily pay for your rentals using our platform.</p>
      </div>

     </div>
     <div class="col-md-4 col-xs-12 text-center">
        <div class="feature-review">
          <%= image_tag 'bike.png', id:'icon' %>
          <br>
          <h3>Ride</h3>
          <p>Cruise the streets of MTL in style.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 text-center">
      <div class="questions">
        <h1>Questions? Contact: <%= link_to 'bbbikes@gmail.com', 'https://www.youtube.com/watch?v=dQw4w9WgXcQ', target: '_blank' %></h1>
      </div>
    </div>
  </div>
</div>






