<div class="wrapper">
  <div class="container">
    <center><h1><strong>Edit Bike</strong></h1></center>
    <div class="form-box">
      <%= simple_form_for(@bike) do |f| %>
        <%= f.error_notification %>
        <%= f.input :brand, label: "Brand" %>
        <%= f.input :model, label: "Model" %>
        <%= f.input :bike_kind, label: "Type" %>
        <%= f.input :height_range, label: "Rider Height", placeholder: @bike.height_range %>
        <%= f.input :description, as: :text,  label: "Describe the bike" %>
        <%= f.input :has_helmet, label: "Helmet", input_html: { checked: @bike.has_helmet } %>
        <%= f.input :has_lock, label: "Lock", input_html: { checked: @bike.has_lock } %>
        <%= f.input :has_lights, label: "Lights", input_html: { checked: @bike.has_lights } %>
        <%= f.input :has_basket, label: "Basket", input_html: { checked: @bike.has_basket } %>
        <%= f.input :has_bell, label: "Bell", input_html: { checked: @bike.has_bell } %>
        <%= f.input :photos, as: :attachinary %>
        <%= f.submit "Update", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>

