
<div class="wrapper">
  <div class="container">
    <div class="row justify-content-md">
      <div class="col-md-5">
        <%= cl_image_tag @bike.photos[0].path, width: 400, height: 300, crop: :fill, class: "product-photo" %>
      </div>
      <div class="col-md-7">
        <div class="bike-details">
          <div class="title">
            <h2><%= @bike.brand %></h2><h3 id="subtitle"><%= @bike.model %></h3>
          </div>
          <p><%= @bike.description %></p>
          <div class=ammenities>
            <ul class="ammenities-list list-inline">
              <li data-tooltip="Has Lock" data-tooltip-position="top"><i class="fa fa-lock" aria-hidden="true"></i></li>
              <li data-tooltip="Has Basket" data-tooltip-position="top"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
              <li data-tooltip="Has Bell" data-tooltip-position="top"><i class="fa fa-bell" aria-hidden="true"></i></li>
              <li data-tooltip="Has Helmet" data-tooltip-position="top"><i class="fa fa-shield" aria-hidden="true"></i></li>
              <li data-tooltip="Has Reflectors" data-tooltip-position="top"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></li>
            </ul>
          </div>
          <div class="input-group input-daterange date-range">
            <input type="text" class="form-control" value="yyyy/mm/dd">
            <div class="input-group-addon">to</div>
            <input type="text" class="form-control" value="2012-04-19">
          </div>
          <%= link_to "Book", new_bike_booking_path(@bike.id), class: "btn btn-book btn-success" %>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <hr>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      alert('<%= j @alert_message %>');
      var coord = <%= raw @bike_coordinates.to_json %>;
      alert('Bike coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>

<script>
  $('.datepicker').datepicker({
      startDate: '-3d'
  });
</script>




