<div class="card-bike">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-3">
			<div class="card-bike-pic">
				<% image_url = bike.photos.empty? ? "http://placehold.it/350x150" : bike.photos[0].path %>
        		<%= link_to bike_path(bike) do %>
        			<%= cl_image_tag image_url, class: "product-image" %>
            	<% end %>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<div class="card-bike-info">
				<p><strong><%= bike.description %></strong></p>
				<p><%= bike.location%></p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<div class="card-bike-info">
				<ul class="list-unstyled">
					<li>Bike Brand: <strong><%= bike.brand %></strong></li>
					<li>Bike Model: <strong><%= bike.model %></strong></li>
					<li>Bike Type: <strong><%= bike.bike_kind %></strong></li>
					<li>Fits Users: <strong><%= bike.height_range %></strong></li>
					<li><%= bike.id %></li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<div class="card-bike-extra">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<ul class="list-inline">
							<li>
								<% if bike.has_helmet %>
									<i class="fa fa-user-circle-o" aria-hidden="true"></i>helmet
								<% end %>
							</li>
							<li>
								<% if bike.has_lock %>
									<i class="fa fa-lock" aria-hidden="true"></i>lock
								<% end %>
							</li>
							<li>
								<% if bike.has_lights %>
									<i class="fa fa-sun-o" aria-hidden="true"></i>lights
								<% end %>
							</li>
							<li>
								<% if bike.has_basket %>
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>basket
								<% end %>
							</li>
							<li>
								<% if bike.has_bell %>
									<i class="fa fa-bell" aria-hidden="true"></i>bell
								<% end %>
							</li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-6">
          				<%= link_to "Edit Bike", edit_bike_path(bike), {class: "btn btn-success"} %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
